{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} {% trans 'nation list page title' %} {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% trans "This is the title" as the_title %}
{% block content %}
    {% if perms.accounts.view_nation %}
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-header card-header-info py-4 d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title text-light">{% trans 'nation list' %}</h4>
                            <p class="card-category text-light"></p>
                        </div>
                        <a type="button" class="btn btn-success btn-sm" href="{% url 'accounts:nation_create' %}">
                            {% trans 'create' %}
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="table">
                            <table class="table table-hover table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                                <thead class=" text-info">
                                <th>{% trans 'id' %}</th>
                                <th>{% trans 'nation name' %}</th>
                                <th>{% trans 'update' %}</th>
                                </thead>
                                <tbody>
                                {% for nation in nations %}
                                    <tr>
                                        <td class="border">{{ nation.id }}</td>
                                        <td class="border">{{ nation.name }}</td>
                                        <td class=" py-2">
                                            {% if perms.accounts.change_nation %}
                                                <a title="{% trans 'edit' %}"
                                                   href="{% url 'accounts:nation_detail' nation.id %}"
                                                   class="btn btn-info btn-fab btn-fab-mini btn-round text-light">
                                                    <i class="material-icons">edit</i></a>
                                            {% endif %}
                                            {% if perms.accounts.delete_nation %}
                                                <a data-toggle="modal" data-target="#removeUser"
                                                   onclick="removeItem({{ nation.id }})"
                                                   class="btn btn-info btn-fab btn-fab-mini btn-round text-light">
                                                    <i class="material-icons">delete</i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>{% trans 'Permission Denied' %}</h1>
    {% endif %}
    <nav aria-label="Page navigation example ">
        {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item" aria-current="page">
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" aria-disabled="true">
                        <span aria-hidden="true">&laquo;</span>
                    </a></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" disabled="true" href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>
    <div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans 'delete' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>{% trans "Sizni ishonchingiz komilmi?" %}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger btn-sm" id="remove">{% trans 'confirm' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        const removeItem = (id) => {
            const anchor = document.querySelector('#remove')
            anchor.href = `/accounts/nation/${id}/delete`
        }
    </script>
{% endblock javascripts %}
