{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Sprout Input list page' %}{% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    {% if perms.trees.view_sproutinput %}
        <div class="row ">
            <div class="col-md-12">
                <div class="card bg-white">
                    <div class="card-header card-header-info py-4 d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title text-light">{% trans 'Sprout Input list' %}</h4>
                            <p class="card-category text-dark"></p>
                        </div>
                        <a type="button" class="btn btn-success btn-sm" href="{% url 'trees:sprout_input_create' %}">
                            {% trans 'Create' %}
                        </a>
                    </div>

                <div class="card-body">
                    <div class="table">
                        <table class="table table-hover table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm">
                            <thead class=" text-info">
                                <th class="text-light border">{% trans 'ID' %}</th>
                                <th class="text-light border">{% trans 'Date' %}</th>
                                <th class="text-light border">{% trans 'TreePlant' %}</th>
                                <th class="text-light border">{% trans 'Category' %}</th>
                                <th class="text-light border">{% trans 'Donation' %}</th>
                                <th class="text-light border">{% trans 'Buying' %}</th>
                                <th class="text-light border">{% trans 'New_sprout' %}</th>
                                <th class="text-light border">{% trans 'Department' %}</th>
                                <th class="text-light border">{% trans 'Region' %}</th>
                                <th class="text-light border">{% trans 'Creator' %}</th>
                                <th class="text-light border">{% trans 'Actions' %}</th>
                            </thead>
                            <tbody>
                            {% for item in object_list %}
                                <tr>
                                    <td class="text-dark border">{{ item.id }}</td>
                                    <td class="text-dark border">{{ item.date |date:"Y-m-d"}}</td>
                                    <td class="text-dark border">{{ item.plant.name }}</td>
                                    <td class="text-dark border">{{ item.category.name }}</td>
                                    <td class="text-dark border amount_sum">{{ item.donation|floatformat }}</td>
                                    <td class="text-dark border amount_sum">{{ item.buying|floatformat }}</td>
                                    <td class="text-dark border amount_sum">{{ item.new_sprout|floatformat }}</td>
                                    <td class="text-dark border">{{ item.department.name }}</td>
                                    <td class="text-dark border">{{ item.region.name }}</td>
                                    <td class="text-dark border">{{ item.creator }}</td>
                                    <td class="border">
                                        {% if perms.trees.view_sproutinput %}
                                            <a
                                                 href="{% url 'trees:sprout_input_detail' item.id %}"
                                                 class="btn btn-info btn-fab btn-fab-mini btn-round text-light">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        {% endif %}


                                        {% if perms.trees.delete_sproutinput %}
                                            <a
                                               data-toggle="modal"
                                               data-target="#removeUser"
                                               onclick="removeItem({{ item.id }})"
                                               class="btn btn-info btn-fab btn-fab-mini btn-round text-light">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                             {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
        </div>
    {% else %}
        <h1>{% trans 'Permission Denied' %}</h1>
    {% endif %}
   <nav aria-label="Page navigation example text-center" class="d-flex align-items-center justify-content-center">
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">begin</span>
              </a>
            </li>
        {% endif %}
        {% for n in page_obj.paginator.page_range %}
          {% if page_obj.number == n %}
            <li class="page-item active">
              <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
            </li>
          {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">end</span>
                </a>
              </li>
          {% endif %}
        </ul>
    </nav>
     <div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans 'delete' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
                <span>{% trans "Sizni ishonchingiz komilmi?" %}</span>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">{% trans 'Close' %}</button>
            <a href="" class="btn btn-danger btn-sm" id="remove">{% trans 'confirm' %}</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
    const amount_sum = document.querySelectorAll('.amount_sum');
    amount_sum.forEach(item => item.textContent =  numberWithSpaces(item.textContent))
    const removeItem = (id) => {
        const anchor = document.querySelector('#remove')
        anchor.href = `/trees/sprout/input/${id}/delete`
    }
    </script>
{% endblock javascripts %}
