{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %} {% trans 'Seed page title' %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        #seed{
            display: block;
            position: relative;
        }
        .fixed-add-btn{
            position: fixed;
            top:50%;
            left: 85%;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
    {% if perms.trees.add_seed %}
        <div class="row " id="seed">
            <div class="col-md-8 offset-md-2">
                <form @submit.prevent="createGrowing" id="form">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header card-header-info py-4 shadow">
                            <h4 class="card-title text-light text-center">{% trans 'Seed create form' %}</h4>
                        </div>
                        <div class="card-body mt-4">
                            <div class="row d-flex align-items-end bg-light border mb-1 mx-1">
                                <div class="col-md-4">
                                    <div class="form-group py-2">
                                        <label for="date" class="text-dark">{% trans 'Date' %}</label>
                                        <input type="date" class="form-control" v-model="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group py-2">
                                        <label for="region_id">{% trans 'Region' %}</label>
                                        <select name="region" id="region_id" class="custom-select" v-model="region"  @change="regionChangeHandler(region)" required>
                                                <option v-for="(item, index) in regions" :key="item.id" :value="item.id">[[ item.name ]]</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group py-2">
                                        <label for="region">{% trans 'Department' %}</label>
                                        <select name="department" id="department_id" class="custom-select" v-model="department" @change="departmentChangeHandler(department)" required>
                                            <option v-for="item in selectedDepartments" :key="item.id" :value="item.id">[[ item.name ]]</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class="card-body" v-for="(item, i) in counts">
                            <div class="row d-flex align-items-end bg-light border mb-1 mx-1">
                                <div class="col-md-12 d-flex justify-content-end align-items-end">
                                    <button class="btn btn-danger btn-sm btn-fab btn-fab-mini btn-round remove" @click="removeRow(i)">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group py-2">
                                        <label for="text">{% trans 'Tree Plant' %}</label>
                                        <select name="department"   class="custom-select" v-model="income[i].tree_plant" required>
                                                <template>
                                                    <option v-for="item in tree_plants" :key="item.id" :value="item.id">[[ item.name ]]</option>
                                                </template>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group py-2">
                                        <label for="text" class="text-dark">{% trans 'Count' %}</label>
                                        <input type="text" class="form-control" v-model="income[i].count" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 d-flex align-items-end justify-content-between">
                            <a href="{% url 'trees:seed_list' %}"
                                class="btn btn-success btn-sm text-light">
                                {% trans 'back' %}
                            </a>
                            <button type="submit" class="btn btn-info btn-sm">{% trans 'saqlash' %}</button>
                        </div>

                        <div class="fixed-add-btn">
                            <button class="btn btn-success btn-sm text-dark btn-fab btn-fab-mini btn-round" @click="incrementFormRow">
                                <i class="material-icons text-light">add</i>
                            </button>
                        </div>
                    </div>
            </div>
        </div>

    {% else %}
        <h2>{% trans 'Permission Denied' %}</h2>
    {% endif %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
    let department = {{ data|safe }};
    let region_data = {{ region|safe }};
    const tee_plant_data = {{ tree_plant|safe }};
    const departments = department.map(elem => {
        if(elem){
            console.log(elem)
            let obj = {id: elem.pk, name: elem.fields['name'], region: elem.fields['region']}
            return obj
        }
    });
    function getCsrf() {
        let inputElements = document.querySelectorAll('input');
        let csrfToken = '';
            for (let i = 0; i < inputElements.length; ++i) {
                if (inputElements[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElements[i].value;
                    break;
                }
            }
            return csrfToken;
    };

    const regions = convertToObj(region_data)
    const tree_plant = convertToObj(tee_plant_data)
    const seed = new Vue({
      delimiters: ['[[', ']]'],
      el: '#seed',
      data: {
          counts: 1,
          date: null,
          region: null,
          department: null,
          income: [{
               count: null,
               tree_plant: ""
             }
          ],
          regions: regions,
          selectedDepartments: [],
          departmentsRoot: departments,
          tree_plants: tree_plant
      },
      methods: {
          regionChangeHandler(id){
            this.selectedDepartments = this.departmentsRoot.filter(elem => elem.region === id)
          },
          departmentChangeHandler(id){
              this.department = id
          },
          incrementFormRow(){
              this.counts++;
              const obj = {
               count: null,
               tree_plant: ""
             };
             this.income.push(obj)
          },
          removeRow(id){
              this.income.splice(id, 1);
              this.counts--
          },
         async createGrowing(){
              let token = getCsrf();
              let form = new FormData();
              form.append("csrfmiddlewaretoken", token);
              form.append("date", this.date);
              form.append("region", this.region);
              form.append("department", this.department);
              form.append("items", JSON.stringify(this.income));
              const url = location.origin + "/trees/seed/create/";
              try{
                const response = await fetch(url, {
                    method: 'POST',
                    body: form
                })
                if(response.status === 200){
                    Swal.fire({
                      position: 'top-center',
                      type: 'success',
                      title: 'Your work has been saved',
                      showConfirmButton: false,
                      timer: 1000
                    })
                    setTimeout(() => {
                        location.href = response.url
                    }, 1500)
                }
              } catch (error) {
                  alert('Error')
              }

          }
      },
    });
  </script>
{% endblock javascripts %}